{% extends "chat/base.html" %}
{% block content %}
<div class="container">
	<div class="jumbotron">
		<script>
			setTimeout(jsonChat, 500, 2);
			var sel_page;
			function jsonChat(selected_page) {
			sel_page = selected_page;
			$.ajax({
				method: 'POST',
				url: 'chat_json/',
				dataType: 'json',        
				data: {
					csrfmiddlewaretoken : '{{ csrf_token }}',
					page : selected_page
					},
				success: function(response) {
					var instance = response['chat_context'];
					$('tbody').empty();
					if (response['page_number'] == 1){
							$("#pagination tbody").prepend(
							`
							<span class="step-links">
								<span class="current">
									Page ${response['page_number']||""} of 
										${response['num_of_pages']||""}
								</span>
								<a href="next-page" onclick="jsonChat(${response['page_number']||""}+1);return false;" >next</a>
								<a href="last-page" onclick="jsonChat(${response['num_of_pages']||""});return false;" >last &raquo;</a>
							</span>
							`
						)
					}
					for (let i = instance.length-1; i => 0; i--) {
						var fields = instance[i];
						var dateRaw = fields["date_posted"]; //Format Date and time
						var tmp_date = new Date(dateRaw).toJSON().slice(0,10).split('-').reverse().join(',');
						var tmp_time = new Date(dateRaw).toJSON().slice(11,19);
						var dateTime =  tmp_time + " " + tmp_date;
						if (fields["author_id"] == '{{ user.id }}') {
							$("#showdata tbody").prepend(
								`
									<div class="col-sm-12" style="background-color:rgb(250, 249, 230);">
										${fields["post_type"]||""}
										${dateTime||""}
										<a class="mr-2" href="../${fields["id"]||""}/user_info/">
										${fields["author_name"]||""}</a>
										<a class="mr-2" href="../${fields["id"]||""}/update/">Update</a>
									</div>
									<div class="col-sm-12" style="background-color:rgb(250, 230, 236);">
										${fields["content"]||""}
									</div>
									<div></div>
								`
								)
							} else {
								$("#showdata tbody").prepend(
									`
										<div class="col-sm-12" style="background-color:rgb(250, 249, 230);">
											${fields["post_type"]||""}
											${dateTime||""}
											<a class="mr-2" href="../${fields["id"]||""}/user_info/">
											${fields["author_name"]||""}</a>
										</div>
										<div class="col-sm-12" style="background-color:rgb(230, 230, 250);">
											${fields["content"]||""}
										</div>
										<div></div>
									`
								)
							}
					
						}
  				
					} 

				})
			};
		</script>
		
		<h1>{{ title_page }}</h1>
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<div class="well well-sm">
					{{ form.media }} 
					{{ form.as_p }}
				</div>
			</fieldset>
			<div class="form-group">
				<button class="btn btn-success btn-sm mt-1 mb-1" type="submit">Submit</button>
				<a class="btn btn-primary btn-sm mt-1 mb-1" href="javascript:history.go(-1)">Back</a>
				<a class="btn btn-primary btn-sm mt-1 mb-1" onclick="jsonChat(1)">Reload</a>
			</div>
		</form>
		<br>
		<table class="table table-bordered" id="showdata">
			<tbody>
				
			</tbody>
		</table>
		<table class="pagination" id="pagination">
			<tbody>
				
			</tbody>
		</table>
        </div>	

	</div>
</div>
{% endblock content %}