{% extends "chat/base.html" %}
{% block content %}
<div class="container">
	<div class="jumbotron">
		<button onclick="jsonChat()">Test jsonChat</button>
		<script>
			//Testing JsonResponse
			function jsonChat() {
			$.ajax({
				method: 'POST',
				url: 'chat_json/',
				dataType: 'json',        
				data: {
					csrfmiddlewaretoken: '{{ csrf_token }}'
					},
				success: function(response) {
					var instance = response['chat_context'];
					for (let i = 0; i < instance.length; i++) {
						var fields = instance[i];
						var dateRaw = fields["date_posted"]; //Format Date and time
						var tmp_date = new Date(dateRaw).toJSON().slice(0,10).split('-').reverse().join(',');
						var tmp_time = new Date(dateRaw).toJSON().slice(11,19);
						var dateTime =  tmp_time + " " + tmp_date;
						$("#showdata tbody").prepend(
							`
								<div class="col-sm-12" style="background-color:rgb(250, 249, 230);">
									${fields["post_type"]||""}
									${dateTime||""}
									<a class="mr-2" href="../${fields["id"]||""}/user_info/">
									${fields["author_name"]||""}</a>
								</div>
								<div class="col-sm-12" style="background-color:rgb(250, 230, 236);">
									${fields["content"]||""}
								</div>
								<div>-</div>
							`
							)
					
					//alert('{{ user.id }}');

					
						}
  				
					} 


				})
			};
		</script>
		
		<h1>{{ title_page }}</h1>
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<div class="well well-sm">
					{{ form.media }} 
					{{ form.as_p }}
				</div>
			</fieldset>
			<div class="form-group">
				<button class="btn btn-success btn-sm mt-1 mb-1" type="submit">Submit</button>
				<a class="btn btn-primary btn-sm mt-1 mb-1" href="javascript:history.go(-1)">Back</a>
				<a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'chat-view' %}">Reload</a>
			</div>
		</form>
		<br>
		<h3>JsonResponse test</h3>
		<table class="table table-bordered" id="showdata">
			<tbody>
				
			</tbody>
		</table>
		<h3>JsonResponse test end</h3>
		<br>
		{% for post in chat_context %}
			{% if post.author == user %}
				<div class="row">
					<div class="col-sm-2"> </div>
					<div class="col-sm-8" style="background-color:rgb(246, 250, 230);">
						<small class="text-muted" >{{ post.post_type }}</small>
						<small class="text-muted">{{ post.date_posted|date:"H:i d, m, Y" }}</small>
						<a class="mr-2" href="{% url 'chat-user_info' post.id %}">{{ post.author }}</a>
						{{ post.content | safe }}
						<a class="mr-2" href="{% url 'chat_update' post.id %}">Update</a>
					</div>
				</div>
				<br>
			{% else %}
				<div class="row">
					<div class="col-sm-8" style="background-color:rgb(230, 230, 250);">
						<small class="text-muted" >{{ post.post_type }}</small>
						<small class="text-muted">{{ post.date_posted|date:"H:i d, m, Y" }}</small>
						<a class="mr-2" href="{% url 'chat-user_info' post.id %}">{{ post.author }}</a>
						{{ post.content | safe }}
					</div>
				</div>
				<br>
			{% endif %}
		{% endfor %}
	</div>
</div>
{% endblock content %}